template/
node_modules/
build/
!.eslintrc.js
src/registerServiceWorker.js
src/tests/
src/utils/
src/store/
src/routes/
src/containers/
src/**/__tests__/**
src/index.js
src/components/Counter.js
/src/components/Header.js