.dialogue {
    font-family: sans-serif;
    color: #000;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    cursor: pointer;
    transition-duration: 0.2s;
    padding: 5px 0px 5px 0px;
}


.dialogue:hover{
    background-color: #f5f6f7;
}

.avatar{
    height: 70px;
    width: 70px;
    margin-right: 10px;
    border-radius: 50%; 
    padding-left: 10px;
    margin-left: 10px; 
    flex-shrink: 0;
    flex-grow: 0;
    background: url(https://image.flaticon.com/icons/svg/149/149452.svg)
}

.wrapper{
    flex: auto;
    height:100%;   
    padding: 0px 0px 5px 10px;
    margin-left: 10px; 
}

.text {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.name{
    flex: auto;
}

.time{

    font-size: 12px;
    color: #4f4f4f;
    float: right;
    padding-right: 20px;
    
}

.info{
    margin-bottom: 10px;
    display: flex;
    padding-top: 10px;
}

.message{
    flex: auto;
    color: #4f4f4f;
    margin-right: 20px;
    text-overflow: ellipsis;
}

.status{
    color: #4f4f4f;
    float: right;
    padding-right: 20px;
} 