
.header {
    background-color: #F498D8;
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.menuButton{
    height: 30px;
    width: 30px;
    margin: 5px 15px;
    background: url(https://image.flaticon.com/icons/svg/149/149176.svg) no-repeat center center;
    background-size: contain
}

.searchButton{
    height: 30px;
    width: 30px;
    margin: 5px 15px;
    padding-right: 40px;
    background: url(https://image.flaticon.com/icons/svg/932/932384.svg) no-repeat center center;
    background-size: contain
}  

.messenger{
    flex: auto;
    height: 100%;
    padding-left: 20px;
}