.container {
  width: 100vw;
  height: 100vh;
  position: relative;
}
 
  @keyframes chatDisappear{
    from{
      right: 0;
    }
    to{
      right: -100%;
    }
  }

    
@keyframes chatAppearance {
    from {
        right: -100%;
    }
    to {
        right: 0;
    }
}
  ::-webkit-scrollbar {
    width: 0px;
  }